/* Header.css */

/* Définir la police personnalisée */
@font-face {
    font-family: 'Helvetica-Inserat';
    src: url('../fonts/Helvetica Inserat Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.transparent-header {
    font-family: 'Helvetica-Inserat', Helvetica, Bold, sans-serif;
    position: fixed;
    width: 98%;
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    top: 0; /* Changed from -10px to 0 */
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.50rem; /* Increased from 1rem to 1.25rem */
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin: 0 auto; /* Center the header */
}

.logo {
    height: 110px; /* Make the logo smaller */
    width: auto; /* Maintain aspect ratio */
    display: block;
}

.logo img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;  
    margin: 0;
    padding: 0;
    
}

.main-nav li {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 35px; /* Augmenté de 1.125rem à 1.5rem */
    transition: color 0.3s ease;
}

.main-nav li:hover {
    color: rgb(255, 0, 0);
}

.logout-container {
    display: flex;
    align-items: center;
}


