/* Header.css */

/* Définir la police personnalisée */
@font-face {
    font-family: 'Helvetica-Inserat';
    src: url('../fonts/Helvetica Inserat Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.transparent-header {
    font-family: 'Helvetica-Inserat', Helvetica, Bold, sans-serif;
    position: fixed;
    width: 98%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.077);
    top: -10px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.50rem; /* Increased from 1rem to 1.25rem */
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.logo {
  position: relative;
  width: 100px; /* Adjust based on your logo size */
  height: 100px; /* Adjust based on your logo size */
}

.static-logo, .gif-logo {
  position: absolute;
  top: 4.5vh;
  left: 0;
  width: 100%;
}

.gif-logo {
  display: none;
}

.logo:hover .static-logo {
  display: none;
}

.logo:hover .gif-logo {
  display: block;
}

.main-nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.main-nav ul {
    list-style: none;
    display: flex;  
    margin: 0;
    padding: 0;
    
}

.main-nav li {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 21px; /* Augmenté de 1.125rem à 1.5rem */
    transition: color 0.3s ease;
}

.main-nav li b {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 21px; /* Augmenté de 1.125rem à 1.5rem */
    transition: color 0.3s ease;
    
}

.main-nav li:hover {
    color: rgb(255, 0, 0);
}

.main-nav ul li.active {
    color: #ff0000; /* Red color for active link */
    font-weight: bold;
    position: relative;
}

.main-nav ul li.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff0000;
    animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.logout-container {
    display: flex;
    align-items: center;
}


